@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: Roboto Regular;
      font-weight: 400;
      src: url("fonts/roboto/Roboto-Regular.ttf") format("ttf");
    }
    @font-face {
      font-family: Roboto Med;
      font-weight: 500;
      src: url("fonts/roboto/Roboto-Medium.ttf") format("ttf");
    }
  }


  html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 16vh;
    }
    section{
        scroll-snap-align: inherit;
        scroll-snap-stop: always;
    }



